$light-blue: #cdf8f8;
$pink-color: #d38888;
$yellow-color: #feffd5;
$purple-color: #dfdaff;
$light-green: #d9fff2;
$pastel-blue: #c4eeff;
$dark-purle: #a768fa;
$dark-color: #000;

@mixin flexBox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($time: 0.5s) {
  transition: all $time ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.buffer {
  height: 150px;
}

.text-md {
  font-size: 1.5rem;
}

/* BACK TO TOP BUTTON */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 100; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color*/
  color: $pink-color; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  color: lighten($pink-color, 10%);
  transition: all 500ms ease;
}
/* END BACK TO TOP BUTTON */

.text-center {
  text-align: center;
}

.text-alert {
  color: red;
}

.text-warning {
  color: $dark-purle;
}

.text-bold {
  font-weight: 600;
}

.bg-gray {
  background: #f3f3f3;
}

.bg-light {
  background: #e1f2ff;

  td {
    border: 1px solid #c7c7c7 !important;
  }
}

.bg-dark {
  background: darken(#d1e9ff, 20%);
}
