// Media Queries
@media (max-width: 1024px) {
  .menu {
    &.show {
      .btn-toggler {
        transform: translateX(33vw);
      }
    }
  }

  .menu-list {
    width: 34vw;
  }
}
@media (max-width: 870px) {
  .buffer {
    height: 100px;
  }
  header {
    .logo {
      @include transition;
    }
    .hamburger {
      display: block;
      font-size: 1.7rem;
      color: $pink-color;
      cursor: pointer;
      z-index: 3;

      .fa-times {
        display: none;
      }
    }

    .nav {
      ul {
        @include flexBox(column, space-evenly, center);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 90%;
        text-align: center;
        // z-index: -1;
        z-index: 2;
        transform: translateX(100%);

        li {
          @include flexBox;
          width: 100%;
          height: 100%;
          transform: translateX(100%);
          border: $pink-color solid 1px;
          padding: 0;
          @include transition(0.4s);

          &:nth-child(4) {
            background: $yellow-color;
            transition-delay: 0.4s;
            border-bottom-width: 2px;
          }
          &:nth-child(3) {
            background: $purple-color;
            transition-delay: 0.3s;
          }
          &:nth-child(2) {
            background: $light-green;
            transition-delay: 0.2s;
          }
          &:nth-child(1) {
            background: $pastel-blue;
            transition-delay: 0.1s;
          }
        }
      }
    }

    &.open .nav ul {
      transform: translateX(0);
    }
    &.open .nav ul li {
      transform: translateX(0);
    }

    &.open .logo {
      opacity: 0;
    }

    &.open .fa-times {
      display: block;
    }

    &.open .fa-bars {
      display: none;
    }
  }

  .showcase {
    width: 90%;
  }

  .video-main {
    .hero {
      h3 {
        font-size: 2rem;
      }
    }
  }

  .menu {
    &.show {
      .btn-toggler {
        transform: translateX(38vw);
      }
    }
  }

  .menu-list {
    width: 40vw;
  }
}

@media (max-width: 600px) {
  header {
    .logo {
      font-size: 1.8rem;
    }
  }

  .showcase {
    .showcase-inner {
      flex-direction: column;
      justify-content: space-between;

      &-text {
        text-align: center;
        flex: 0 1 auto;
        padding-top: 2rem;

        .italic {
          text-align: center;
        }
      }

      &-image {
        flex: 0 1 auto;
      }
    }
  }

  .test-content {
    .box {
      display: block;
      padding: 0 1rem;
    }

    .test-title {
      h1 {
        font-size: 2.2rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }

  iframe {
    width: 400px;
    height: 220px;
  }

  .box6 {
    & > div {
      @include flexBox(column, center, center);
    }

    img {
      width: 50%;
    }
  }

  .video-main {
    .hero {
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .menu {
    &.show {
      .btn-toggler {
        transform: translateX(60vw);
      }
    }
  }

  .menu-list {
    width: 62vw;
  }
}

@media (max-width: 500px) {
  iframe {
    width: 300px;
    height: 185px;
  }

  .menu {
    &.show {
      .btn-toggler {
        transform: translateX(68vw);
      }
    }
  }

  .menu-list {
    width: 70vw;
  }
}
